<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ScriptEditor.id.Todoist-Task</string>
	<key>CFBundleName</key>
	<string>Todoist Task</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>WindowState</key>
	<dict>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>-1</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>551</real>
		<key>savedFrame</key>
		<string>228 212 1153 937 0 0 1920 1178 </string>
		<key>selectedTabView</key>
		<string>result</string>
	</dict>
</dict>
</plist>
